body {  
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	color:#444444;  
	font-size:12px;
	}
a{
	text-decoration: none;
	}
a:link, a:active{
	color:#3B5998;
	}
a:hover{
	color:#627AAD;
	}
a:visited{
	color:#666666;
	}
img{
	border:0;
	}
/*h1, h2, h3, h4, h6 {
	border-bottom:1px solid #CCCCCC;
	margin:0;
	padding-bottom:0.17em;
	padding-top:0.5em;
	margin-bottom:0.6em;
	font-weight: normal;
	}*/
h3, h5{
	font-weight: normal;
	margin:0;
	padding-top:0.5em;
	}
h3{
	font-size:18px;
	border-bottom:1px solid #CCCCCC;
	padding-bottom:0.17em;
	margin-bottom:0.6em;
	}
h5 {
	font-size:14px;
}
input, textarea, select { 
	border:1px solid #BDC7D8; 
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
	font-size:11px; 
	padding:3px; 
}
input:focus, textarea:focus, select:focus {
	border-color:#687FB0
}
textarea.field {
	width:98.5%;
	height:100px
}
button{
	cursor:pointer
	}
hr{
	border:1px solid #CCCCCC;
	}
.logo{
	height:26px;
	margin:0 0 0 0.5em;
	position:relative;
	z-index:2;
	border-color:#AAAAAA;
	border-style:solid none none solid;
	border-width:1px medium 1px 1px;
	background-color:#627AAD
	}
.logo div{
	float:left;
	font-weight:bold;
	padding-top:3px;
	margin-left:3px;
	color:#FFFFFF;
	font-size:16px;
	}
.logo img{
	float:left;
	padding-top:3px;
	padding-left:3px;
	}	
#content {
	border-color:#AAAAAA;
	border-style:solid none solid solid;
	border-width:1px medium 1px 1px;
	line-height:1.5em;
	margin:0 0 0 0.5em;
	padding:0 1em 1.5em;
	position:relative;
	z-index:2;
}
.bigmsg{
	text-align:center;
	margin-top:50px;
	font-size:16px;
	}
.labeltxt{
	font-weight:bold;
	font-size:12px;
	padding-right:5px;
	}
.labelvalue{
	font-size:12px;
}
.formButtons{
	margin-top:20px;
	text-align:center;
}
.buttonlindo { 
	padding:3px 10px 3px 10px; 
	font-size:14px;  
	background:#3b5998; 
	color:#fff; 
	border:1px solid #0e1f5b; 
	border-left-color:#D9DFEA; 
	border-top-color:#D9DFEA; 
}
.cancel { 
	background:#ddd; 
	color:#111; 
	border:1px solid #666; 
	border-left-color:#ddd; 
	border-top-color:#ddd 
}
.clear{
	clear:both;
}
















.field {
	border:1px solid #bdc7d8; 
	padding:2px
} 
.field:focus {
	border-color:#687FB0
} 



.expButton{
	cursor:pointer;
	background:#FFFFFF;
	border: 1px solid #777777;
	padding: 5px;
	color:#333333;	
	width:230px;
}
.expButton2{
	cursor:pointer;
	background:#FFFFFF;
	border: 1px solid #777777;
	padding: 2px;
	color:#333333;	
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:12px;
}
.expButton[disabled="disabled"]{
	color:#AAAAAA;
	border-color:#AAAAAA;
	cursor:default;
}





#rightcontent{
	float:left;
	background:none repeat scroll 0 0 white;
	border-color:#AAAAAA -moz-use-text-color #AAAAAA #AAAAAA;
	border-style:solid none solid solid;
	border-width:1px medium 1px 1px;
	color:black;
	line-height:1.5em;
	width:500px;
}
#charsheet{
	float:left;
	margin:0;
	padding:0 1em 1.5em;
	z-index:2;
	width:200px;
}

.statusbar{
	width:125px;
	height:4px;
}
.inside{
	
}
.outside{
	border:solid 1px;
}
.actionspro { 
	list-style: none; 
	margin: 0px; 
	padding: 0px;
	font-size:12px;
} 
.actionspro li { 
	border-bottom: 1px solid #D8DFEA; 
	margin-bottom: 5px;
} 
.actionspro a { 
	background: transparent; 
	display: block; 
	margin: 0px; 
	padding: 2px 3px; 
	text-decoration: none; 
} 
.actionspro a:hover { 
	background: #3b5998; 
	color: white; 
	text-decoration: none; 
} 
.actionspro .inactive { 
	padding: 2px 3px; 
	color: gray; 
} 
.paginator{
	font-size:12px;
	text-align:right;
	font-weight:bold;
}
.paginator a{
	margin-right:5px;	
}
.paginator span{
	margin-right:5px;
	
	margin-top:2px;
}