body {  
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	color:#444444;  
	font-size:12px;
	}
a{
	text-decoration: none;
	}
a:link, a:active, a:visited{
	color:#3B5998;
	}
a:hover{
	color:#627AAD;
	}
img{
	border:0;
	}
h3, h5, h4{
	font-weight: normal;
	margin:0;
	padding-top:0.5em;
	}
h3, h4{
	font-size:18px;
	border-bottom:1px solid #558033;
	padding-bottom:0.17em;
	margin-bottom:0.6em;
	}
h5 {
	font-size:14px;
}
h4{
	font-size:16px;
	}
input, textarea, select { 
	border:1px solid #BDC7D8; 
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
	font-size:11px; 
	padding:3px; 
}
input:focus, textarea:focus, select:focus {
	border-color:#687FB0
}
textarea.field {
	width:98.5%;
	height:100px
}
button{
	cursor:pointer
	}
hr{
	border:1px solid #CCCCCC;
	}
.logo{
	height:26px;
	margin:0 0 0 0.5em;
	position:relative;
	z-index:2;
	border-color:#AAAAAA;
	border-style:solid none none solid;
	border-width:1px medium 1px 1px;
	background-color:#627AAD
	}
.logo div{
	float:left;
	font-weight:bold;
	padding-top:3px;
	margin-left:3px;
	color:#FFFFFF;
	font-size:16px;
	}
.logo img{
	float:left;
	padding-top:3px;
	padding-left:3px;
	}	
#content {
	border-color:#558033;
	border-style:solid none solid solid;
	border-width:1px medium 1px 1px;
	line-height:1.5em;
	margin:0 0 0 0.5em;
	padding:0 1em 1.5em;
	position:relative;
	z-index:2;
}
.bigmsg{
	text-align:center;
	margin-top:20px;
	font-size:16px;
	}
.labeltxt{
	font-weight:bold;
	font-size:12px;
	padding-right:5px;
	}
.labelvalue{
	font-size:12px;
}
.formButtons{
	margin-top:20px;
	text-align:center;
}
.buttonlindo { 
	padding:3px 10px 3px 10px; 
	font-size:14px;  
	background:#3b5998; 
	color:#fff; 
	border:1px solid #0e1f5b; 
	border-left-color:#D9DFEA; 
	border-top-color:#D9DFEA; 
}
.cancel { 
	background:#ddd; 
	color:#111; 
	border:1px solid #666; 
	border-left-color:#ddd; 
	border-top-color:#ddd 
}
.clear{
	clear:both;
}
.statusbar{
	width:125px;
	height:4px;
}
.inside{
	
}
.outside{
	border:solid 1px;
}
.actionspro { 
	list-style: none; 
	margin: 0px; 
	padding: 0px;
	font-size:12px;
} 
.actionspro li { 
	border-bottom: 1px solid #D8DFEA; 
	margin-bottom: 5px;
} 
.actionspro a { 
	background: transparent; 
	display: block; 
	margin: 0px; 
	padding: 2px 3px; 
	text-decoration: none; 
} 
.actionspro a:hover { 
	background: #3b5998; 
	color: white; 
	text-decoration: none; 
} 
.actionspro .inactive { 
	padding: 2px 3px; 
	color: gray; 
}
.paginator{
	font-size:12px;
	text-align:right;
	font-weight:bold;
}
.paginator a{
	margin-right:5px;	
}
.paginator span{
	margin-right:5px;
	
	margin-top:2px;
}
.buttonlink{
	display:block;
	font-size:12px;
	line-height: 1.3em;
	border: 1px solid #AAAAAA;
	padding: 3px;
	width: 80px;
	}
.buttonlink img{
	vertical-align:middle;
	}
.biglink{
	padding: 5px;
	width:220px;
	height:32px;
	}
.biglink img{
	vertical-align:middle;
	margin-right:5px;
	}
.disabled{
	cursor:default;
	color:#AAAAAA;
	}
	
.worldmap{
	margin:20px 0px 20px 70px;
}

.worldmap td{
	width:50px;
	height:50px;
}
.inputstat{
	width:25px;
	text-align:center;
	border:0px;
	}